<h1>Create New User</h1>

<%= form_with(model: [:admin, @user]) do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div>
    <%= form.label :role %>
    <%= form.select :role, User::ROLES %>
  </div>

  <div>
    <%= form.submit %>
    <%= link_to "Back", admin_users_path %>
  </div>
<% end %>